
extends base.pug

block scripts
  script(src='../staticfolder/index.js')
block style
      style
       include ../staticfolder/style.css  
  

block content
  section#missionSection 
        h1 Our Mission
        div.card
            h3 Dance Perfection.
            div.card-box 
               div.card-img 
                 img(src="https://toppng.com/uploads/preview/roup-dancing-silhouette-png-picture-black-and-white-dance-team-clipart-115630729950ebir89asd.png", alt="img1") 
               div.card-content  
                    p This is the best dance academy.
        div.card
            h3 Dance the way you like. 
            div.card-box 
               div.card-img 
                 img(src="https://png.pngtree.com/element_pic/16/06/03/005750658c5ce1d.jpg", alt="img2") 
               div.card-content  
                    p This is the best dance academy. 
        div.card
            h3 Expert teaching. 
            div.card-box 
               div.card-img 
                 img(src="https://png.pngtree.com/png-clipart/20210528/ourmid/pngtree-ballet-dance-stand-stand-female-dancer-black-silhouette-png-image_3382925.jpg", alt="") 
                 
               div.card-content  
                    p This is the best dance academy.     